header {
  &.title {
    padding: 60px 0;
    width: 100%;
    background-color: #f2f2f2;
  }
  h1, h2, h3 {
    text-align: center;
    color: #333333;
  }
}

section {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: white;
  transition: margin-left 4s ease-in-out 1s;
  padding: 20px 20px;
}
